.container {
    padding         : 1.5rem;
    width           : min(calc(100% - 3rem), 24rem);
    background-color: var(--clr-neutral-800);
    border-radius   : 0.75rem;
    margin-inline   : auto;

    @media only screen and (min-width: 27em) {
        padding: 2.5rem;
    }
}