.list {
    padding   : 0;
    margin    : 0;
    margin-top: 1.5rem;
    display   : grid;
    gap       : 1rem;
}

.item {
    padding         : 0.75rem;
    background-color: var(--clr-neutral-700);
    border-radius   : 0.5rem;
    text-align      : center;
    font-weight     : var(--fw-bold);

    @media only screen and (min-width: 60em) {
        transition: background-color 150ms ease, color 150ms ease;

        &:hover {
            background-color: var(--clr-primary);
            color           : var(--clr-neutral-700);
        }
    }
}